.settings
.project
.classpath
target/classes/com
target/classes/templates
target/classes/application.yml
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF//maven
target/test-classes
.env
.idea/
*.iml
/.apt_generated/
